button {
  cursor: pointer;
}
h2 {
  color: #666;
}
a {
  text-decoration: none;
}

.App {
  text-align: center;
}

/* 헤드 */
.App-header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: #ffffff;
}

/* 몸통 */
.App-body {
  background-color: #f8f0ff;
  width: 800px;
  height: 600px;
  overflow: hidden;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid #bce9dc;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px 5px rgba(161, 161, 161, 0.263) inset;
}
.App-page {
  width: 500px;
  height: 550px;
  border: 5px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 10px 10px 5px rgba(109, 109, 109, 0.41);
}
.machine-body {
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: rgb(227, 239, 237);
}

.machine-coin {
  width: 100%;
  height: 5%;
}
.body-left,
.body-rigth {
  height: 100%;
}
.body-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.body-rigth {
  width: 37%;
  height: 70%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* 왼쪽 */
.item-display {
  width: 100%;
  height: 85%;
  padding: 10px 5px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 5px solid #ffffff;
  background-color: rgb(218, 218, 218);
  box-shadow: 5px 5px 5px 5px rgba(161, 161, 161, 0.714) inset;
}
.item-box {
  width: 50%;
  height: 25%;
  float: left;
  padding: 5px;
  position: relative;
  box-sizing: border-box;
}
.item-img-print,
.drop-item {
  width: 75px;
  height: 75px;
  display: block;
  margin: auto;
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgb(161, 161, 161);
}
.sold-out {
  width: 100px;
  height: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 15px;
  left: 20px;
  opacity: 0;
  transform: rotate(20deg);
  z-index: 80;
  background-color: #ff0000b6;
}
.item-stock {
  width: 20px;
  height: 20px;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 8px;
  color: #666;
  background-color: #ffffff;
}
.item-price {
  width: 35px;
  height: 18px;
  line-height: 18px;
  font-size: 14px;
  text-align: center;
  position: absolute;
  bottom: 30px;
  right: 7px;
  color: #666;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}
.buy-btn {
  width: 65%;
  height: 23%;
  line-height: 100%;
  font-size: 15px;
  font-weight: bold;
  display: block;
  position: absolute;
  bottom: 2px;
  left: 22px;
  border-radius: 10px;
  color: #984a4a;
  background-color: #fffbeb;
  border: 3px solid #ffc2c2;
  box-shadow: 5px 5px 5px rgb(161, 161, 161);
}
.machine-coin {
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(252, 230, 226);
  box-shadow: 5px 5px 5px rgba(161, 161, 161, 0.714) inset;
  border: 5px solid #ffffff;
  box-sizing: border-box;
}
.machine-coin-screen {
  color: #7786c5;
  font-size: 15px;
  display: inline;
  font-weight: bold;
}
.machine-coin-name {
  color: #67a94f;
}

/* 오른쪽 */
.total-screen {
  width: 100%;
  height: 75px;
  line-height: 65px;
  padding: 0 15px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgb(252, 230, 226);
  border: 5px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px rgba(161, 161, 161, 0.714) inset;
}
.total-num {
  color: #7786c5;
  font-size: 38px;
  float: right;
}
.ent-coin-btn {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  color: #666;
  background-color: rgb(255, 235, 184);
  border: 5px solid #ffffff;
  box-sizing: border-box;
  border: 5px solid #ffffff;
  border-right: 5px solid #d8caaf;
  border-bottom: 5px solid #c2b996;
}
.return-coin-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #666;
  background-color: rgb(216, 216, 216);
  box-sizing: border-box;
  border: 5px solid #ffffff;
  border-right: 5px solid #c7c7c7;
  border-bottom: 5px solid #b4b4b4;
}
.ent-coin-btn:hover {
  background-color: rgb(255, 220, 159);
}
.return-coin-btn:hover {
  background-color: rgb(186, 186, 186);
}
.get-item-box {
  width: 100%;
  height: 80px;
  border-radius: 10px;
  background-color: rgb(199, 230, 212);
  border: 5px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 3px 3px 5px 2px rgb(161, 161, 161) inset;
}

/* 푸터 */
.App-footer {
  width: 100%;
  height: 100px;
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: center;
  color: #666;
  background-color: #ffffff8c;
  backdrop-filter: blur(3px);
}
.footer-box {
  width: 600px;
  height: 70px;
  padding: 20px;
  margin-top: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}
.footer-btn {
  width: 70px;
  height: 70px;
  font-size: 18px;
  line-height: 64px;
  border-radius: 20px;
  color: #666;
  background-color: #fff;
  border: 4px solid #d0d5ff;
  box-sizing: border-box;
  box-shadow: 3px 3px 5px rgb(161, 161, 161);
}
.footer-btn:hover {
  background-color: #e4f2de;
}
.inventory {
  width: 380px;
  height: 75px;
  overflow: auto;
  white-space: nowrap;
  border: 4px solid #d0d5ff;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #f1f1f1;
  box-shadow: 3px 3px 5px 2px rgba(113, 113, 113, 0.408) inset;
}
.my-item {
  width: 60px;
  height: 60px;
  display: inline-block;
  margin: 5px;
  border-radius: 50%;
}

/* 모달 */
.coin-modal {
  width: 100px;
  padding: 10px;
  position: absolute;
  top: 190px;
  right: -40px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #bfbfbf95;
  backdrop-filter: blur(3px);
  display: none;
  box-shadow: 3px 3px 5px 2px rgba(161, 161, 161, 0.662);
}
.user-coin-btn {
  width: 50px;
  height: 50px;
  float: left;
  font-weight: bold;
  color: #b07c12;
  border-radius: 50%;
  background-color: rgb(255, 235, 184);
  border: 3px solid #ffc2c2;
  border-top: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  box-sizing: border-box;
}
.user-coin-btn:hover {
  background-color: rgb(255, 220, 159);
}
.user-coin-count {
  width: 30px;
  height: 30px;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  float: left;
}
.coin-modal-close-btn {
  width: 60px;
  height: 20px;
  font-size: 12px;
}

/* 체크 모달 */
.check-modal {
  width: 250px;
  z-index: 900;
  top: 300px;
margin: auto;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  position: absolute;
  background-color: #ffffff;
}
.check-modal-message {
  width: 80%;
  height: 40px;
  margin: auto;
  line-height: 40px;
}
.check-modal-but-box {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

/* 매니저페이지 */
#manager-page {
  height: 100%;
  color: #666;
  padding: 0 30px;
  box-sizing: border-box;
  background-color: rgb(227, 239, 237);
}
.manager-page-title {
  width: 100%;
  height: 20px;
  font-size: 22px;
  float: left;
  margin-bottom: 25px;
}
.manager-page-setting {
  width: 100%;
  height: 40px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-item-input {
  width: 60px;
  margin: 0 5px;
}
.manager-input {
  width: 100px;
  height: 25px;
  padding: 0 10px;
  margin: 3px;
  font-size: 14px;
  border-radius: 5px;
  color: #333;
  border-style: none;
  box-sizing: border-box;
  background-color: #ffe1aec7;
}
/* .manager-img{
  width: 155px;
  height: 35px;
  font-size: 11px;
  padding: 0 10px; 
  margin: 10px;
  box-sizing: border-box;
} */

.manager-item-list {
  padding: 3px;
  border-radius: 10px;
  font-size: 15px;
  box-sizing: border-box;
  background-color: #ddbcbc;
}
.manager-item-table {
  height: 320px;
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
}
.manager-item-list th {
  border-radius: 5px;
}
.manager-item-list td {
  border-radius: 5px;
}
.item-list {
  background-color: #fff7f7;
}
.item-list:hover {
  transition: 0.5s;
}

.manager-btn-box {
  width: 100%;
  margin: 10px 0;
  float: left;
  display: flex;
  justify-content: space-evenly;
}

.manager-btn {
  width: 90px;
  height: 30px;
  color: #666;
  font-size: 15px;
  line-height: 26px;
  background-color: #fff4c4;
  border-radius: 5px;
  border: 2px solid #9c8b8b;
  box-sizing: border-box;
  cursor: pointer;
}
.manager-btn:hover {
  background-color: rgba(255, 216, 162, 0.906);
}
.add-item-box {
  width: 100px;
  display: flex;
  justify-content: space-evenly;
}

.form-warning-message {
  position: absolute;
  color: red;
  left: 40px;
  top: 20px;
}
